<html lang="en">
<head>
<title>jsTemplar Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="Scripts/jsTemplar.jquery.js"></script>
</head>
<body>
<script type="text/javascript">
$(document).ready(function () {
    $("#template_nav").load("layout/nav.html");
    $("#template_body").load("layout/body.html");
    $("#template_footer").load("layout/footer.html");
});
</script>
<header>
	<hgroup>
		<h1>welcome to the jsTemplar example!</h1>
		<h3>Be sure to poke around all of the files.</h3>
	</hgroup>
</header>

<div id="template_nav"></div>
<div id="template_body"></div>
<div id="template_footer"></div>

</body>