<script type="text/javascript">
    function menuChange(contentID) 
    {
      switch (contentID.text) {
          case "Item A":
              clearAndLoad("content/itema.html");
              break;
          case "Item B":
              clearAndLoad("content/itemb.html");
              break;
          case "Item C":
              clearAndLoad("content/itemc.html");
              break;
          default:
              break;              
      }
    }
</script>
<nav>
<ul>
    <li><a href="#" onclick="menuChange(this);">Item A</a></li>
    <li><a href="#" onclick="menuChange(this);">Item B</a></li>
    <li><a href="#" onclick="menuChange(this);">Item C</a></li>
</ul>
</nav>