<script type="text/javascript">
    function menuChange(contentID) 
    {
      var item = $(contentID).data();
      console.log(item);
      switch (item.item) {

          case 1:
              clearAndLoad("content/itema.html");
              break;
          case 2:
              clearAndLoad("content/itemb.html");
              break;
          case 3:
              clearAndLoad("content/itemc.html");
              break;
          default:
              break;              
      }
    }
</script>

  <ul>
    <li><a href="#" onclick="menuChange(this);" data-item="1">About jsTemplar</a></li>
    <li><a href="#" onclick="menuChange(this);" data-item="2">How does it work?</a></li>
    <li><a href="#" onclick="menuChange(this);" data-item="3">Getting Started</a></li>
  </ul>